<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.internshipTour.bean.mapper.OcenterCpsTempCallboardMapper" >
  <resultMap id="BaseResultMap" type="com.internshipTour.bean.OcenterCpsTempCallboard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="sendtime" property="sendtime" jdbcType="INTEGER" />
    <result column="classid" property="classid" jdbcType="INTEGER" />
    <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
    <result column="banner_url_en" property="bannerUrlEn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, status, sendtime, classid, banner_url, banner_url_en
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.internshipTour.bean.OcenterCpsTempCallboardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ocenter_cps_temp_callboard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ocenter_cps_temp_callboard
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ocenter_cps_temp_callboard
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.internshipTour.bean.OcenterCpsTempCallboardExample" >
    delete from ocenter_cps_temp_callboard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.internshipTour.bean.OcenterCpsTempCallboard" >
    insert into ocenter_cps_temp_callboard (id, status, sendtime, 
      classid, banner_url, banner_url_en
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=BIT}, #{sendtime,jdbcType=INTEGER}, 
      #{classid,jdbcType=INTEGER}, #{bannerUrl,jdbcType=VARCHAR}, #{bannerUrlEn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.internshipTour.bean.OcenterCpsTempCallboard" >
    insert into ocenter_cps_temp_callboard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sendtime != null" >
        sendtime,
      </if>
      <if test="classid != null" >
        classid,
      </if>
      <if test="bannerUrl != null" >
        banner_url,
      </if>
      <if test="bannerUrlEn != null" >
        banner_url_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="bannerUrl != null" >
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrlEn != null" >
        #{bannerUrlEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.internshipTour.bean.OcenterCpsTempCallboardExample" resultType="java.lang.Integer" >
    select count(*) from ocenter_cps_temp_callboard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ocenter_cps_temp_callboard
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.sendtime != null" >
        sendtime = #{record.sendtime,jdbcType=INTEGER},
      </if>
      <if test="record.classid != null" >
        classid = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.bannerUrl != null" >
        banner_url = #{record.bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bannerUrlEn != null" >
        banner_url_en = #{record.bannerUrlEn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ocenter_cps_temp_callboard
    set id = #{record.id,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      sendtime = #{record.sendtime,jdbcType=INTEGER},
      classid = #{record.classid,jdbcType=INTEGER},
      banner_url = #{record.bannerUrl,jdbcType=VARCHAR},
      banner_url_en = #{record.bannerUrlEn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.internshipTour.bean.OcenterCpsTempCallboard" >
    update ocenter_cps_temp_callboard
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="sendtime != null" >
        sendtime = #{sendtime,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        classid = #{classid,jdbcType=INTEGER},
      </if>
      <if test="bannerUrl != null" >
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrlEn != null" >
        banner_url_en = #{bannerUrlEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.internshipTour.bean.OcenterCpsTempCallboard" >
    update ocenter_cps_temp_callboard
    set status = #{status,jdbcType=BIT},
      sendtime = #{sendtime,jdbcType=INTEGER},
      classid = #{classid,jdbcType=INTEGER},
      banner_url = #{bannerUrl,jdbcType=VARCHAR},
      banner_url_en = #{bannerUrlEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from ocenter_cps_temp_callboard where classid = #{0}
  </select>
</mapper>